- https://dacon.io/competitions/official/235713/overview/description

# 데이터 로드

In [10]:
import pandas as pd
trainDf = pd.read_csv('data/train.csv')
testDf = pd.read_csv('data/test.csv')

trainDf.set_index('index', inplace=True)
testDf.set_index('index', inplace=True)

# 데이터 탐색 및 시각화

In [11]:
trainDf.head()

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
index,,,,,,,,,,,,,,,,,,,
0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0

In [15]:
import matplotlib.pyplot as plt

pd.pivot_table(trainDf, index=['credit'])

,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,begin_month,child_num,email,family_size,income_total,phone,work_phone
credit,,,,,,,,,,
0.0,-15870.497827,58595.379268,1,-23.987896,0.418063,0.083489,2.194289,190807.582402,0.303228,0.226257
1.0,-15734.349130,61103.375140,1,-21.078826,0.430509,0.086644,2.177118,181122.701532,0.280357,0.227062
2.0,-16057.303277,58407.164899,1,-28.391914,0.429986,0.094472,2.204620,188925.666991,0.297678,0.223597

# 데이터 전처리

## 범주형 데이터를 수치형으로 convert(one-hot encoding)

In [40]:
trainDf.head()

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
index,,,,,,,,,,,,,,,,,,,
0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0

In [43]:
trainDf.corr()

,child_num,income_total,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,family_size,begin_month,credit
child_num,1.000000,0.032186,0.332816,-0.228159,NaN,0.051521,-0.010555,0.016120,0.890530,-0.007229,0.004081
income_total,0.032186,1.000000,0.064155,-0.166478,NaN,-0.034207,0.019013,0.089882,0.023839,-0.018047,0.008555
DAYS_BIRTH,0.332816,0.064155,1.000000,-0.616776,NaN,0.178752,-0.029247,0.111238,0.298108,0.057306,-0.025187
DAYS_EMPLOYED,-0.228159,-0.166478,-0.616776,1.000000,NaN,-0.241827,-0.007749,-0.091090,-0.223077,0.007964,-0.003798
FLAG_MOBIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
work_phone,0.051521,-0.034207,0.178752,-0.241827,NaN,1.000000,0.310256,-0.031048,0.068705,-0.008563,-0.003134
phone,-0.010555,0.019013,-0.029247,-0.007749,NaN,0.310256,1.000000,0.012494,-0.000132,-0.014286,0.003452
email,0.016120,0.089882,0.111238,-0.091090,NaN,-0.031048,0.012494,1.000000,0.016122,0.002320,0.014812
family_size,0.890530,0.023839,0.298108,-0.223077,NaN,0.068705,-0.000132,0.016122,1.000000,-0.023032,0.008227
begin_month,-0.007229,-0.018047,0.057306,0.007964,NaN,-0.008563,-0.014286,0.002320,-0.023032,1.000000,-0.147477
credit,0.004081,0.008555,-0.025187,-0.003798,NaN,-0.003134,0.003452,0.014812,0.008227,-0.147477,1.000000

In [32]:
trainDf[['gender', 'car', 'reality', 'child_num', 'income_total',
       'income_type', 'edu_type', 'family_type', 'house_type', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'work_phone', 'phone', 'email',
       'occyp_type', 'family_size', 'begin_month', 'credit']].corrwith(trainDf['credit']).sort_values(ascending=False)

credit           1.000000
email            0.014812
income_total     0.008555
family_size      0.008227
child_num        0.004081
phone            0.003452
work_phone      -0.003134
DAYS_EMPLOYED   -0.003798
DAYS_BIRTH      -0.025187
begin_month     -0.147477
dtype: float64

In [70]:
trainDf.fillna("nan", inplace=True)
testDf.fillna("nan", inplace=True)

In [17]:
def preprocess(df=None):
    global train
    df.drop('FLAG_MOBIL', axis=1, inplace=True)
    categoryFeatures = ['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type']
    for column in df.columns:
        if column in categoryFeatures:
            if len(df[column].unique()) == 2:
                df[column] = list(map(lambda x: 0 if ((x == "F") or (x == "N") )else 1, list(df[column])))
            else:
                df = pd.concat([df, pd.get_dummies(df[column])], axis=1)
                df.drop(column, inplace=True, axis=1)
        else:
            df[column] = list(map(lambda x: x * -1 if (x < 0) else x, list(df[column])))
            if column not in ['index', 'credit'] and len(df[column].unique()) > 2:
                df[column] = df[column].apply(lambda x: (x-np.mean(trainDf[column]))/np.std(trainDf[column]), list(df[column]))
        
    c = list(df.columns).copy()
    if 'credit' in c:
        c.remove('credit')
        c.append('credit')
    df = df[c]       
    return df
train = preprocess(trainDf)
test = preprocess(testDf)

In [45]:
train.head()

,gender,car,reality,child_num,income_total,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,...,Low-skill Laborers,Managers,Medicine staff,Private service staff,Realty agents,Sales staff,Secretaries,Security staff,Waiters/barmen staff,credit
index,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,-0.573599,0.149136,7.106268,-0.395422,1,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,0,0,1,0.764529,0.590848,6.506722,-0.418474,1,0,0,...,0,0,0,0,0,0,0,0,0,1.0
2,1,1,1,-0.573599,2.578550,8.341062,-0.397422,1,0,1,...,0,1,0,0,0,0,0,0,0,2.0
3,0,0,1,-0.573599,0.149136,7.389262,-0.414458,1,0,1,...,0,0,0,0,0,1,0,0,0,0.0
4,0,1,1,-0.573599,-0.292575,7.377123,-0.414364,1,0,0,...,0,1,0,0,0,0,0,0,0,2.0

In [48]:
train.corrwith(train['credit']).sort_values(ascending=False)

credit                           1.000000
begin_month                      0.147477
DAYS_BIRTH                       0.025187
Married                          0.020451
Medicine staff                   0.017594
Security staff                   0.016161
email                            0.014812
HR staff                         0.013121
Secondary / secondary special    0.011945
Commercial associate             0.009108
Cleaning staff                   0.009060
income_total                     0.008555
House / apartment                0.008541
family_size                      0.008227
car                              0.007761
Drivers                          0.005617
Lower secondary                  0.004650
Managers                         0.004536
Incomplete higher                0.004486
child_num                        0.004081
Municipal apartment              0.004042
phone                            0.003452
State servant                    0.003123
gender                           0.001562
Realty agents                    0.001400
Student                          0.001202
Separated                        0.001011
Academic degree                  0.000092
Secretaries                     -0.002135
Cooking staff                   -0.002660
Pensioner                       -0.002665
With parents                    -0.002805
Sales staff                     -0.002953
Office apartment                -0.003006
DAYS_EMPLOYED                   -0.003055
Low-skill Laborers              -0.003102
work_phone                      -0.003134
Co-op apartment                 -0.004309
High skill tech staff           -0.004526
Private service staff           -0.004656
Widow                           -0.005675
Working                         -0.007474
Core staff                      -0.008029
Waiters/barmen staff            -0.008215
IT staff                        -0.008623
Accountants                     -0.008792
reality                         -0.009387
Single / not married            -0.010232
Laborers                        -0.012343
Higher education                -0.015516
Rented apartment                -0.017425
Civil marriage                  -0.018826
FLAG_MOBIL                            NaN
dtype: float64

In [46]:
test.head()

,gender,car,reality,child_num,income_total,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,...,Laborers,Low-skill Laborers,Managers,Medicine staff,Private service staff,Realty agents,Sales staff,Secretaries,Security staff,Waiters/barmen staff
index,,,,,,,,,,,,,,,,,,,,,
26457,1,1,0,-1.296414e-16,112500.0,9.032005,2.227162,1,0,1,...,0,0,0,0,0,0,0,0,0,0
26458,0,0,1,-1.296414e-16,135000.0,8.311787,-0.366602,1,0,1,...,0,0,0,0,0,0,0,0,0,0
26459,0,0,1,-1.296414e-16,69372.0,7.579431,-0.428097,1,1,1,...,1,0,0,0,0,0,0,0,0,0
26460,1,1,0,-1.296414e-16,112500.0,8.384618,-0.411265,1,1,0,...,0,0,0,0,0,0,0,0,0,0
26461,0,1,1,-1.296414e-16,225000.0,8.039980,-0.361408,1,1,0,...,0,0,1,0,0,0,0,0,0,0

# 모델링

## StratifiedKFold 이용 train / testset 분할

In [50]:
from sklearn.model_selection import train_test_split
# train.drop('nan', axis=1, inplace=True)
X_features = train.iloc[:, :-1]
y_target = train.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, test_size=0.3, stratify=y_target)

In [99]:
X_test.head()

,gender,car,reality,child_num,income_total,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,...,Laborers,Low-skill Laborers,Managers,Medicine staff,Private service staff,Realty agents,Sales staff,Secretaries,Security staff,Waiters/barmen staff
index,,,,,,,,,,,,,,,,,,,,,
16252,1,0,1,0.764529,-0.734287,7.054620,-0.389959,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1546,1,1,1,-0.573599,1.032559,6.586217,-0.424111,1,0,1,...,0,0,0,0,0,0,0,0,0,0
9198,0,0,1,-0.573599,-0.734287,5.784838,-0.418052,1,0,0,...,1,0,0,0,0,0,0,0,0,0
12648,0,0,1,-0.573599,2.136838,7.955011,-0.374196,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24256,1,1,1,-0.573599,-0.071719,8.393425,-0.425289,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [52]:
X_features.head()

,gender,car,reality,child_num,income_total,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,...,Laborers,Low-skill Laborers,Managers,Medicine staff,Private service staff,Realty agents,Sales staff,Secretaries,Security staff,Waiters/barmen staff
index,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,-0.573599,0.149136,7.106268,-0.395422,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0.764529,0.590848,6.506722,-0.418474,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,1,1,-0.573599,2.578550,8.341062,-0.397422,1,0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,0,1,-0.573599,0.149136,7.389262,-0.414458,1,0,1,...,0,0,0,0,0,0,1,0,0,0
4,0,1,1,-0.573599,-0.292575,7.377123,-0.414364,1,0,0,...,0,0,1,0,0,0,0,0,0,0

## Trainset 교차검증

In [83]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
def get_clf_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred, average=None)
    recall = recall_score(y_test, pred, average=None)
    
    print(confusion)
    print('accuracy :{0:.4f}, precision :{1:.4f}, recall :{2:.4f}'.format(accuracy, precision, recall))

In [98]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, cross_validate
import numpy as np
from lightgbm import LGBMClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

dt_clf = DecisionTreeClassifier()
rf_clf = RandomForestClassifier()
knn_clf = KNeighborsClassifier(n_neighbors=3)
lgbm_clf = LGBMClassifier(n_estimators=1000)
vo_clf = VotingClassifier(estimators=[('LGBMC', lgbm_clf), ('KNN', knn_clf), ('RF', rf_clf), ('DT', dt_clf)],
                          voting='soft')

# clf = vo_clf
# clf.fit(X_train, y_train)

clf = lgbm_clf
clf.fit(X_train, y_train, early_stopping_rounds=100, eval_metric='logloss', eval_set=[(X_test, y_test)], verbose=True)

lr_pred = clf.predict(X_test)
lr_pred_proba = clf.predict_proba(X_test)[:, 1]
scores = cross_val_score(clf, X_train, y_train, scoring='accuracy', cv=5)
print('교차 검증별 정확도 : ', np.round(scores, 4))
print('평균 검증 정확도 : ', np.round(np.mean(scores), 4))

[1]	valid_0's multi_logloss: 0.865089
Training until validation scores don't improve for 100 rounds
[2]	valid_0's multi_logloss: 0.852914
[3]	valid_0's multi_logloss: 0.843771
[4]	valid_0's multi_logloss: 0.836427
[5]	valid_0's multi_logloss: 0.830702
[6]	valid_0's multi_logloss: 0.825582
[7]	valid_0's multi_logloss: 0.821407
[8]	valid_0's multi_logloss: 0.818048
[9]	valid_0's multi_logloss: 0.815252
[10]	valid_0's multi_logloss: 0.812559
[11]	valid_0's multi_logloss: 0.810648
[12]	valid_0's multi_logloss: 0.808729
[13]	valid_0's multi_logloss: 0.807129
[14]	valid_0's multi_logloss: 0.805303
[15]	valid_0's multi_logloss: 0.803444
[16]	valid_0's multi_logloss: 0.802157
[17]	valid_0's multi_logloss: 0.800683
[18]	valid_0's multi_logloss: 0.799624
[19]	valid_0's multi_logloss: 0.79837
[20]	valid_0's multi_logloss: 0.79725
[21]	valid_0's multi_logloss: 0.796174
[22]	valid_0's multi_logloss: 0.795392
[23]	valid_0's multi_logloss: 0.794657
[24]	valid_0's multi_logloss: 0.793834
[25]	valid_0's multi_logloss: 0.793188
[26]	valid_0's multi_logloss: 0.792411
[27]	valid_0's multi_logloss: 0.791567
[28]	valid_0's multi_logloss: 0.79102
[29]	valid_0's multi_logloss: 0.79058
[30]	valid_0's multi_logloss: 0.790071
[31]	valid_0's multi_logloss: 0.78974
[32]	valid_0's multi_logloss: 0.789546
[33]	valid_0's multi_logloss: 0.789166
[34]	valid_0's multi_logloss: 0.788549
[35]	valid_0's multi_logloss: 0.78814
[36]	valid_0's multi_logloss: 0.787523
[37]	valid_0's multi_logloss: 0.787179
[38]	valid_0's multi_logloss: 0.786959
[39]	valid_0's multi_logloss: 0.786474
[40]	valid_0's multi_logloss: 0.786171
[41]	valid_0's multi_logloss: 0.785837
[42]	valid_0's multi_logloss: 0.785462
[43]	valid_0's multi_logloss: 0.78521
[44]	valid_0's multi_logloss: 0.784805
[45]	valid_0's multi_logloss: 0.784214
[46]	valid_0's multi_logloss: 0.783667
[47]	valid_0's multi_logloss: 0.783315
[48]	valid_0's multi_logloss: 0.783091
[49]	valid_0's multi_logloss: 0.782567
[50]	valid_0's multi_logloss: 0.782111
[51]	valid_0's multi_logloss: 0.781626
[52]	valid_0's multi_logloss: 0.781256
[53]	valid_0's multi_logloss: 0.780756
[54]	valid_0's multi_logloss: 0.780263
[55]	valid_0's multi_logloss: 0.780072
[56]	valid_0's multi_logloss: 0.779575
[57]	valid_0's multi_logloss: 0.779219
[58]	valid_0's multi_logloss: 0.778801
[59]	valid_0's multi_logloss: 0.778448
[60]	valid_0's multi_logloss: 0.778422
[61]	valid_0's multi_logloss: 0.778236
[62]	valid_0's multi_logloss: 0.777736
[63]	valid_0's multi_logloss: 0.777581
[64]	valid_0's multi_logloss: 0.777506
[65]	valid_0's multi_logloss: 0.777284
[66]	valid_0's multi_logloss: 0.776849
[67]	valid_0's multi_logloss: 0.776698
[68]	valid_0's multi_logloss: 0.776558
[69]	valid_0's multi_logloss: 0.776286
[70]	valid_0's multi_logloss: 0.775921
[71]	valid_0's multi_logloss: 0.775353
[72]	valid_0's multi_logloss: 0.774907
[73]	valid_0's multi_logloss: 0.774173
[74]	valid_0's multi_logloss: 0.774092
[75]	valid_0's multi_logloss: 0.773866
[76]	valid_0's multi_logloss: 0.77345
[77]	valid_0's multi_logloss: 0.773101
[78]	valid_0's multi_logloss: 0.772915
[79]	valid_0's multi_logloss: 0.772813
[80]	valid_0's multi_logloss: 0.772448
[81]	valid_0's multi_logloss: 0.77238
[82]	valid_0's multi_logloss: 0.771815
[83]	valid_0's multi_logloss: 0.771402
[84]	valid_0's multi_logloss: 0.771269
[85]	valid_0's multi_logloss: 0.77116
[86]	valid_0's multi_logloss: 0.770633
[87]	valid_0's multi_logloss: 0.770486
[88]	valid_0's multi_logloss: 0.770373
[89]	valid_0's multi_logloss: 0.770166
[90]	valid_0's multi_logloss: 0.769944
[91]	valid_0's multi_logloss: 0.769612
[92]	valid_0's multi_logloss: 0.769554
[93]	valid_0's multi_logloss: 0.769298
[94]	valid_0's multi_logloss: 0.769022
[95]	valid_0's multi_logloss: 0.76868
[96]	valid_0's multi_logloss: 0.768531
[97]	valid_0's multi_logloss: 0.768287
[98]	valid_0's multi_logloss: 0.768069
[99]	valid_0's multi_logloss: 0.767845
[100]	valid_0's multi_logloss: 0.767819
[101]	valid_0's multi_logloss: 0.767582
[102]	valid_0's multi_logloss: 0.767211
[103]	valid_0's multi_logloss: 0.766973
[104]	valid_0's multi_logloss: 0.766805
[105]	valid_0's multi_logloss: 0.766763
[106]	valid_0's multi_logloss: 0.766726
[107]	valid_0's multi_logloss: 0.76658
[108]	valid_0's multi_logloss: 0.766569
[109]	valid_0's multi_logloss: 0.76639
[110]	valid_0's multi_logloss: 0.765995
[111]	valid_0's multi_logloss: 0.765861
[112]	valid_0's multi_logloss: 0.765579
[113]	valid_0's multi_logloss: 0.765448
[114]	valid_0's multi_logloss: 0.765045
[115]	valid_0's multi_logloss: 0.765044
[116]	valid_0's multi_logloss: 0.765014
[117]	valid_0's multi_logloss: 0.76518
[118]	valid_0's multi_logloss: 0.765236
[119]	valid_0's multi_logloss: 0.765173
[120]	valid_0's multi_logloss: 0.765164
[121]	valid_0's multi_logloss: 0.764888
[122]	valid_0's multi_logloss: 0.764786
[123]	valid_0's multi_logloss: 0.764557
[124]	valid_0's multi_logloss: 0.764268
[125]	valid_0's multi_logloss: 0.764188
[126]	valid_0's multi_logloss: 0.764077
[127]	valid_0's multi_logloss: 0.764136
[128]	valid_0's multi_logloss: 0.763815
[129]	valid_0's multi_logloss: 0.763776
[130]	valid_0's multi_logloss: 0.763696
[131]	valid_0's multi_logloss: 0.76357
[132]	valid_0's multi_logloss: 0.763557
[133]	valid_0's multi_logloss: 0.763221
[134]	valid_0's multi_logloss: 0.763202
[135]	valid_0's multi_logloss: 0.763175
[136]	valid_0's multi_logloss: 0.763077
[137]	valid_0's multi_logloss: 0.763039
[138]	valid_0's multi_logloss: 0.762761
[139]	valid_0's multi_logloss: 0.762549
[140]	valid_0's multi_logloss: 0.762629
[141]	valid_0's multi_logloss: 0.762509
[142]	valid_0's multi_logloss: 0.762552
[143]	valid_0's multi_logloss: 0.762388
[144]	valid_0's multi_logloss: 0.762259
[145]	valid_0's multi_logloss: 0.762046
[146]	valid_0's multi_logloss: 0.761827
[147]	valid_0's multi_logloss: 0.761917
[148]	valid_0's multi_logloss: 0.761866
[149]	valid_0's multi_logloss: 0.761683
[150]	valid_0's multi_logloss: 0.761739
[151]	valid_0's multi_logloss: 0.761462
[152]	valid_0's multi_logloss: 0.761565
[153]	valid_0's multi_logloss: 0.761486
[154]	valid_0's multi_logloss: 0.761428
[155]	valid_0's multi_logloss: 0.761322
[156]	valid_0's multi_logloss: 0.761279
[157]	valid_0's multi_logloss: 0.761116
[158]	valid_0's multi_logloss: 0.761058
[159]	valid_0's multi_logloss: 0.760817
[160]	valid_0's multi_logloss: 0.760737
[161]	valid_0's multi_logloss: 0.760743
[162]	valid_0's multi_logloss: 0.76065
[163]	valid_0's multi_logloss: 0.760485
[164]	valid_0's multi_logloss: 0.760481
[165]	valid_0's multi_logloss: 0.760118
[166]	valid_0's multi_logloss: 0.759803
[167]	valid_0's multi_logloss: 0.759494
[168]	valid_0's multi_logloss: 0.75957
[169]	valid_0's multi_logloss: 0.75957
[170]	valid_0's multi_logloss: 0.759214
[171]	valid_0's multi_logloss: 0.759351
[172]	valid_0's multi_logloss: 0.759144
[173]	valid_0's multi_logloss: 0.759092
[174]	valid_0's multi_logloss: 0.758874
[175]	valid_0's multi_logloss: 0.758421
[176]	valid_0's multi_logloss: 0.758277
[177]	valid_0's multi_logloss: 0.758205
[178]	valid_0's multi_logloss: 0.758212
[179]	valid_0's multi_logloss: 0.758252
[180]	valid_0's multi_logloss: 0.758149
[181]	valid_0's multi_logloss: 0.757747
[182]	valid_0's multi_logloss: 0.757605
[183]	valid_0's multi_logloss: 0.757382
[184]	valid_0's multi_logloss: 0.757365
[185]	valid_0's multi_logloss: 0.757309
[186]	valid_0's multi_logloss: 0.757278
[187]	valid_0's multi_logloss: 0.757365
[188]	valid_0's multi_logloss: 0.757071
[189]	valid_0's multi_logloss: 0.75714
[190]	valid_0's multi_logloss: 0.757223
[191]	valid_0's multi_logloss: 0.757238
[192]	valid_0's multi_logloss: 0.757295
[193]	valid_0's multi_logloss: 0.757021
[194]	valid_0's multi_logloss: 0.757086
[195]	valid_0's multi_logloss: 0.756752
[196]	valid_0's multi_logloss: 0.756892
[197]	valid_0's multi_logloss: 0.756989
[198]	valid_0's multi_logloss: 0.757025
[199]	valid_0's multi_logloss: 0.757155
[200]	valid_0's multi_logloss: 0.757176
[201]	valid_0's multi_logloss: 0.756994
[202]	valid_0's multi_logloss: 0.757039
[203]	valid_0's multi_logloss: 0.756874
[204]	valid_0's multi_logloss: 0.756847
[205]	valid_0's multi_logloss: 0.756759
[206]	valid_0's multi_logloss: 0.756767
[207]	valid_0's multi_logloss: 0.756599
[208]	valid_0's multi_logloss: 0.756651
[209]	valid_0's multi_logloss: 0.756331
[210]	valid_0's multi_logloss: 0.756113
[211]	valid_0's multi_logloss: 0.756112

[212]	valid_0's multi_logloss: 0.755904
[213]	valid_0's multi_logloss: 0.756029
[214]	valid_0's multi_logloss: 0.756026
[215]	valid_0's multi_logloss: 0.756025
[216]	valid_0's multi_logloss: 0.75599
[217]	valid_0's multi_logloss: 0.755982
[218]	valid_0's multi_logloss: 0.75591
[219]	valid_0's multi_logloss: 0.755759
[220]	valid_0's multi_logloss: 0.755814
[221]	valid_0's multi_logloss: 0.755771
[222]	valid_0's multi_logloss: 0.755742
[223]	valid_0's multi_logloss: 0.755893
[224]	valid_0's multi_logloss: 0.755835
[225]	valid_0's multi_logloss: 0.755667
[226]	valid_0's multi_logloss: 0.755563
[227]	valid_0's multi_logloss: 0.755553
[228]	valid_0's multi_logloss: 0.755606
[229]	valid_0's multi_logloss: 0.755495
[230]	valid_0's multi_logloss: 0.75545
[231]	valid_0's multi_logloss: 0.755387
[232]	valid_0's multi_logloss: 0.75539
[233]	valid_0's multi_logloss: 0.755344
[234]	valid_0's multi_logloss: 0.755296
[235]	valid_0's multi_logloss: 0.755229
[236]	valid_0's multi_logloss: 0.755169
[237]	valid_0's multi_logloss: 0.755221
[238]	valid_0's multi_logloss: 0.755203
[239]	valid_0's multi_logloss: 0.755242
[240]	valid_0's multi_logloss: 0.755147
[241]	valid_0's multi_logloss: 0.755148
[242]	valid_0's multi_logloss: 0.755063
[243]	valid_0's multi_logloss: 0.755232
[244]	valid_0's multi_logloss: 0.755307
[245]	valid_0's multi_logloss: 0.755453
[246]	valid_0's multi_logloss: 0.755311
[247]	valid_0's multi_logloss: 0.755302
[248]	valid_0's multi_logloss: 0.755273
[249]	valid_0's multi_logloss: 0.755442
[250]	valid_0's multi_logloss: 0.755371
[251]	valid_0's multi_logloss: 0.755365
[252]	valid_0's multi_logloss: 0.755324
[253]	valid_0's multi_logloss: 0.755316
[254]	valid_0's multi_logloss: 0.755218
[255]	valid_0's multi_logloss: 0.754989
[256]	valid_0's multi_logloss: 0.755038
[257]	valid_0's multi_logloss: 0.755187
[258]	valid_0's multi_logloss: 0.755226
[259]	valid_0's multi_logloss: 0.755265
[260]	valid_0's multi_logloss: 0.755383
[261]	valid_0's multi_logloss: 0.755396
[262]	valid_0's multi_logloss: 0.75556
[263]	valid_0's multi_logloss: 0.755495
[264]	valid_0's multi_logloss: 0.755608
[265]	valid_0's multi_logloss: 0.7556
[266]	valid_0's multi_logloss: 0.755675
[267]	valid_0's multi_logloss: 0.755701
[268]	valid_0's multi_logloss: 0.755721
[269]	valid_0's multi_logloss: 0.755487
[270]	valid_0's multi_logloss: 0.755602
[271]	valid_0's multi_logloss: 0.755693
[272]	valid_0's multi_logloss: 0.755644
[273]	valid_0's multi_logloss: 0.755648
[274]	valid_0's multi_logloss: 0.755713
[275]	valid_0's multi_logloss: 0.75577
[276]	valid_0's multi_logloss: 0.755766
[277]	valid_0's multi_logloss: 0.755902
[278]	valid_0's multi_logloss: 0.755899
[279]	valid_0's multi_logloss: 0.756151
[280]	valid_0's multi_logloss: 0.756137
[281]	valid_0's multi_logloss: 0.756047
[282]	valid_0's multi_logloss: 0.75615
[283]	valid_0's multi_logloss: 0.756231
[284]	valid_0's multi_logloss: 0.756027
[285]	valid_0's multi_logloss: 0.756054
[286]	valid_0's multi_logloss: 0.756077
[287]	valid_0's multi_logloss: 0.75614
[288]	valid_0's multi_logloss: 0.756196
[289]	valid_0's multi_logloss: 0.756107
[290]	valid_0's multi_logloss: 0.756076
[291]	valid_0's multi_logloss: 0.756185
[292]	valid_0's multi_logloss: 0.756249
[293]	valid_0's multi_logloss: 0.756185
[294]	valid_0's multi_logloss: 0.756134
[295]	valid_0's multi_logloss: 0.75625
[296]	valid_0's multi_logloss: 0.756177
[297]	valid_0's multi_logloss: 0.756207
[298]	valid_0's multi_logloss: 0.756136
[299]	valid_0's multi_logloss: 0.75615
[300]	valid_0's multi_logloss: 0.756038
[301]	valid_0's multi_logloss: 0.756076
[302]	valid_0's multi_logloss: 0.75597
[303]	valid_0's multi_logloss: 0.755998
[304]	valid_0's multi_logloss: 0.756003
[305]	valid_0's multi_logloss: 0.756077
[306]	valid_0's multi_logloss: 0.756134
[307]	valid_0's multi_logloss: 0.755978
[308]	valid_0's multi_logloss: 0.756192
[309]	valid_0's multi_logloss: 0.756142
[310]	valid_0's multi_logloss: 0.756049
[311]	valid_0's multi_logloss: 0.756116
[312]	valid_0's multi_logloss: 0.756129
[313]	valid_0's multi_logloss: 0.756083
[314]	valid_0's multi_logloss: 0.75594
[315]	valid_0's multi_logloss: 0.755789
[316]	valid_0's multi_logloss: 0.755941
[317]	valid_0's multi_logloss: 0.755791
[318]	valid_0's multi_logloss: 0.755868
[319]	valid_0's multi_logloss: 0.756002
[320]	valid_0's multi_logloss: 0.755914
[321]	valid_0's multi_logloss: 0.755857
[322]	valid_0's multi_logloss: 0.755892
[323]	valid_0's multi_logloss: 0.756009
[324]	valid_0's multi_logloss: 0.755705
[325]	valid_0's multi_logloss: 0.755676
[326]	valid_0's multi_logloss: 0.755727
[327]	valid_0's multi_logloss: 0.755838
[328]	valid_0's multi_logloss: 0.75592
[329]	valid_0's multi_logloss: 0.755994
[330]	valid_0's multi_logloss: 0.756141
[331]	valid_0's multi_logloss: 0.756164
[332]	valid_0's multi_logloss: 0.756267
[333]	valid_0's multi_logloss: 0.756271
[334]	valid_0's multi_logloss: 0.75635
[335]	valid_0's multi_logloss: 0.756309
[336]	valid_0's multi_logloss: 0.756362
[337]	valid_0's multi_logloss: 0.756437
[338]	valid_0's multi_logloss: 0.756515
[339]	valid_0's multi_logloss: 0.756316
[340]	valid_0's multi_logloss: 0.75621
[341]	valid_0's multi_logloss: 0.756303
[342]	valid_0's multi_logloss: 0.756437
[343]	valid_0's multi_logloss: 0.756245
[344]	valid_0's multi_logloss: 0.756271
[345]	valid_0's multi_logloss: 0.756364
[346]	valid_0's multi_logloss: 0.756458
[347]	valid_0's multi_logloss: 0.756513
[348]	valid_0's multi_logloss: 0.756593
[349]	valid_0's multi_logloss: 0.756642
[350]	valid_0's multi_logloss: 0.756634
[351]	valid_0's multi_logloss: 0.756633
[352]	valid_0's multi_logloss: 0.756778
[353]	valid_0's multi_logloss: 0.756954
[354]	valid_0's multi_logloss: 0.756998
[355]	valid_0's multi_logloss: 0.757024
Early stopping, best iteration is:
[255]	valid_0's multi_logloss: 0.754989
교차 검증별 정확도 :  [0.6992 0.7011 0.6992 0.7065 0.693 ]
평균 검증 정확도 :  0.6998

KeyboardInterrupt:

## 최적 하이퍼 파라미터(GridSearchCV)

## Test Data 예측

In [101]:
# test.drop('nan', axis=1, inplace=True)
pred = clf.predict(test)
pred

array([2., 2., 2., ..., 2., 2., 2.])

In [102]:
resultDf = pd.DataFrame(columns=["index", 0, 1, 2])
resultDf["index"] = testDf.index
resultDf["credit"] = pred
resultDf["credit"].unique()

array([2., 1., 0.])

In [103]:
resultDf.head()

   index    0    1    2  credit
0  26457  NaN  NaN  NaN     2.0
1  26458  NaN  NaN  NaN     2.0
2  26459  NaN  NaN  NaN     2.0
3  26460  NaN  NaN  NaN     2.0
4  26461  NaN  NaN  NaN     2.0

In [104]:
for i in resultDf.index:
    resultDf.loc[i, int(resultDf.loc[i, "credit"])] = 1
resultDf.drop('credit', axis=1, inplace=True)
resultDf.fillna(0, inplace=True)

In [105]:
resultDf.describe()

             index             0            1             2
count  10000.00000  10000.000000  10000.00000  10000.000000
mean   31456.50000      0.011200      0.06590      0.922900
std     2886.89568      0.105241      0.24812      0.266763
min    26457.00000      0.000000      0.00000      0.000000
25%    28956.75000      0.000000      0.00000      1.000000
50%    31456.50000      0.000000      0.00000      1.000000
75%    33956.25000      0.000000      0.00000      1.000000
max    36456.00000      1.000000      1.00000      1.000000

# 제출

In [106]:
resultDf.to_csv('output.csv', index=False)