In [1]:
import pandas as pd

trainX = pd.read_csv("data/train_x_df.csv")
trainY = pd.read_csv("data/train_y_df.csv")
testX = pd.read_csv("data/test_x_df.csv")

In [22]:
trainX

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
0,0,0,9,0.983614,0.983614,0.983128,0.983246,0.001334,10.650987,0.009855,0.000848,6.771755
1,0,1,9,0.983245,0.983612,0.982453,0.982693,0.001425,11.375689,0.016137,0.000697,5.565188
2,0,2,9,0.982694,0.983612,0.982403,0.983002,0.001542,12.301942,0.014166,0.000905,7.225459
3,0,3,9,0.983009,0.984848,0.983009,0.984486,0.002520,20.134695,0.021557,0.001171,9.353000
4,0,4,9,0.984233,0.984606,0.983612,0.984164,0.002818,22.515448,0.021434,0.001799,14.372534
...,...,...,...,...,...,...,...,...,...,...,...,...
10572175,7660,1375,8,1.000277,1.000499,1.000000,1.000388,0.574281,103.592369,0.665410,0.266649,48.100475
10572176,7660,1376,8,1.000333,1.000388,0.999834,1.000277,1.350429,243.535217,0.804037,0.487857,87.985291
10572177,7660,1377,8,1.000277,1.000388,0.999834,1.000277,0.692170,124.846756,0.781857,0.360461,65.018936
10572178,7660,1378,8,1.000166,1.000222,0.999778,1.000056,0.556481,100.351929,0.670955,0.296588,53.486565
10572179,7660,1379,8,1.000000,1.000555,0.999889,0.999945,1.385710,249.935760,1.264279,0.735243,132.617462

In [9]:
trainY

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
0,0,0,9,0.999389,0.999630,0.999261,0.999385,0.001187,9.632785,0.012565,0.000605,4.904978
1,0,1,9,0.999593,1.000000,0.999265,0.999266,0.004197,34.052364,0.020572,0.003014,24.453999
2,0,2,9,0.999266,0.999618,0.999262,0.999322,0.003942,31.981472,0.016630,0.002967,24.069899
3,0,3,9,0.999322,0.999388,0.998917,0.999387,0.003663,29.709074,0.019463,0.002362,19.158766
4,0,4,9,0.999015,0.999015,0.997631,0.998399,0.003266,26.466251,0.030180,0.001533,12.421005
...,...,...,...,...,...,...,...,...,...,...,...,...
919315,7660,115,8,1.002662,1.003382,1.002606,1.002717,0.957148,173.131668,0.510148,0.476201,86.143784
919316,7660,116,8,1.002551,1.002606,1.001608,1.001830,1.537946,277.939087,0.465787,1.061331,191.801056
919317,7660,117,8,1.001830,1.002384,1.001497,1.001608,1.203197,217.364487,0.637684,0.971337,175.472198
919318,7660,118,8,1.001608,1.001941,1.001109,1.001386,1.252859,226.264069,1.003660,0.449899,81.251137
919319,7660,119,8,1.001331,1.001719,1.001054,1.001497,1.297642,234.339737,0.748586,0.735177,132.758179

In [10]:
testX

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
0,7661,0,7,0.993560,0.993560,0.990477,0.991021,587512.625000,534685.312500,553.533691,76317.687500,69457.835938
1,7661,1,7,0.990771,0.993048,0.990357,0.992689,616675.437500,560815.937500,514.306885,291661.375000,265331.843750
2,7661,2,7,0.992710,0.993560,0.991316,0.991795,670641.687500,610829.625000,361.758240,288066.125000,262389.562500
3,7661,3,7,0.992318,0.992318,0.990695,0.990727,365400.343750,332430.937500,329.069244,113585.000000,103350.929688
4,7661,4,7,0.991141,0.991152,0.989158,0.989605,245272.531250,222917.734375,481.617889,70405.781250,63988.847656
...,...,...,...,...,...,...,...,...,...,...,...,...
738295,8195,1375,6,0.997053,0.999276,0.997053,0.999069,1.633000,315.307526,1.375175,0.878884,169.736862
738296,8195,1376,6,0.999121,1.000569,0.998552,1.000569,1.478406,285.818695,1.039136,0.455307,88.052055
738297,8195,1377,6,1.000569,1.001086,0.999121,0.999690,0.848792,164.188950,0.935739,0.445028,86.055450
738298,8195,1378,6,0.999690,1.000207,0.998863,1.000000,1.099217,212.537872,0.723776,0.410302,79.334801
738299,8195,1379,6,1.000000,1.001137,0.999328,0.999380,2.253381,436.007904,1.209740,1.453545,281.218933

In [15]:
trainX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10572180 entries, 0 to 10572179
Data columns (total 12 columns):
 #   Column       Dtype
---  ------       -----
 0   sample_id    int64
 1   time         int64
 2   coin_index   int64
 3   open         float64
 4   high         float64
 5   low          float64
 6   close        float64
 7   volume       float64
 8   quote_av     float64
 9   trades       float64
 10  tb_base_av   float64
 11  tb_quote_av  float64
dtypes: float64(9), int64(3)
memory usage: 967.9 MB

In [6]:
trainY

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
0,0,0,9,0.999389,0.999630,0.999261,0.999385,0.001187,9.632785,0.012565,0.000605,4.904978
1,0,1,9,0.999593,1.000000,0.999265,0.999266,0.004197,34.052364,0.020572,0.003014,24.453999
2,0,2,9,0.999266,0.999618,0.999262,0.999322,0.003942,31.981472,0.016630,0.002967,24.069899
3,0,3,9,0.999322,0.999388,0.998917,0.999387,0.003663,29.709074,0.019463,0.002362,19.158766
4,0,4,9,0.999015,0.999015,0.997631,0.998399,0.003266,26.466251,0.030180,0.001533,12.421005
...,...,...,...,...,...,...,...,...,...,...,...,...
919315,7660,115,8,1.002662,1.003382,1.002606,1.002717,0.957148,173.131668,0.510148,0.476201,86.143784
919316,7660,116,8,1.002551,1.002606,1.001608,1.001830,1.537946,277.939087,0.465787,1.061331,191.801056
919317,7660,117,8,1.001830,1.002384,1.001497,1.001608,1.203197,217.364487,0.637684,0.971337,175.472198
919318,7660,118,8,1.001608,1.001941,1.001109,1.001386,1.252859,226.264069,1.003660,0.449899,81.251137
919319,7660,119,8,1.001331,1.001719,1.001054,1.001497,1.297642,234.339737,0.748586,0.735177,132.758179

In [12]:
trainY.groupby(["sample_id", "coin_index"])["high"].max()

sample_id  coin_index
0          9             1.001895
1          9             1.002084
2          4             1.015667
3          0             1.023643
4          7             1.054731
                           ...
7656       1             1.010394
7657       9             1.008398
7658       6             1.012078
7659       0             1.002552
7660       8             1.012643
Name: high, Length: 7661, dtype: float64