# 데이터 불러오기

In [2]:
import pandas as pd

c = ['회차', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'nb', '당첨자수', '인당 당첨금액']
df_result = pd.read_csv('data/lotto_result.csv', header=None)
df_result.columns = c

In [3]:
df_result.head()

   회차  n1  n2  n3  n4  n5  n6  nb  당첨자수     인당 당첨금액
0   1  10  23  29  33  37  40  16     0           0
1   2   9  13  21  25  32  42   2     1  2002006800
2   3  11  16  19  21  27  31  30     1  2000000000
3   4  14  27  30  31  40  42   2     0           0
4   5  16  24  29  40  41  42   3     0           0

# 탐색

## 숫자별 출현 빈도

In [49]:
from collections import Counter

# sorted(Counter(df_result['n1']).items(), key=lambda k: -k[1])

dictHistory = dict()
for column in c:
    if column.startswith('n'):
        for k, v in Counter(df_result[column]).items():            
            if k in dictHistory.keys():
                dictHistory.update({k: dictHistory.get(k)+v})
            else:
                dictHistory[k] = v

In [50]:
sorted(dictHistory.items())

[(1, 168),
 (2, 162),
 (3, 155),
 (4, 164),
 (5, 150),
 (6, 152),
 (7, 155),
 (8, 149),
 (9, 128),
 (10, 161),
 (11, 154),
 (12, 164),
 (13, 168),
 (14, 159),
 (15, 150),
 (16, 155),
 (17, 167),
 (18, 161),
 (19, 150),
 (20, 161),
 (21, 156),
 (22, 127),
 (23, 138),
 (24, 158),
 (25, 145),
 (26, 160),
 (27, 170),
 (28, 139),
 (29, 134),
 (30, 148),
 (31, 157),
 (32, 138),
 (33, 166),
 (34, 170),
 (35, 150),
 (36, 153),
 (37, 159),
 (38, 158),
 (39, 162),
 (40, 160),
 (41, 137),
 (42, 151),
 (43, 179),
 (44, 151),
 (45, 152)]