In [2]:
from scipy.optimize import linprog
import pandas as pd
import numpy as np

Plants = ['Haarlem', 'Eindhoven']
Supply = [47, 64]

Customer = ['Amsterdam', 'Berda', 'Gouda', 'Amesfoort', 'Den Bosch']
Demand = [28, 16, 22, 31, 12]

UnitCost = [131, 405, 188, 396, 485, 554, 351, 479, 366, 155]
pd.DataFrame(np.array(UnitCost).reshape(2, 5), index=Plants, columns=Customer)

           Amsterdam  Berda  Gouda  Amesfoort  Den Bosch
Haarlem          131    405    188        396        485
Eindhoven        554    351    479        366        155

In [29]:
list(map(lambda x: x*-1,  UnitCost))

[-131, -405, -188, -396, -485, -554, -351, -479, -366, -155]

In [31]:
c = list(map(lambda x: x*-1,  UnitCost))
A = [[1, 1, 1, 1, 1, 0, 0, 0, 0, 0],
     [0, 0, 0, 0, 0, 1, 1, 1, 1, 1] ,
     [1, 0, 0, 0, 0, 1, 0, 0, 0, 0],
     [0, 1, 0, 0, 0, 0, 1, 0, 0, 0],
     [0, 0, 1, 0, 0, 0, 0, 1, 0, 0],
     [0, 0, 0, 1, 0, 0, 0, 0, 1, 0],
     [0, 0, 0, 0, 1, 0, 0, 0, 0, 1]]

b = [47, 63, 28, 16, 22, 31, 12]

x0_bounds = (0, None)
x1_bounds = (0, None)
x2_bounds = (0, None)
x3_bounds = (0, None)
x4_bounds = (0, None)
x5_bounds = (0, None)
x6_bounds = (0, None)
x7_bounds = (0, None)
x8_bounds = (0, None)
x9_bounds = (0, None)

res = linprog(c, A_ub=A, b_ub=b, bounds=[x0_bounds, x1_bounds, x2_bounds, x3_bounds, x4_bounds, x5_bounds, x6_bounds, x7_bounds, x8_bounds, x9_bounds])

In [39]:
res

     con: array([], dtype=float64)
     fun: -50265.99979159973
 message: 'Optimization terminated successfully.'
     nit: 7
   slack: array([1.91492781e-07, 1.00000026e+00, 1.16035029e-07, 6.68297737e-08,
       9.20512413e-08, 1.30235055e-07, 4.26342623e-08])
  status: 0
 success: True
       x: array([9.57637830e-10, 1.59999999e+01, 2.25826948e-09, 1.89999999e+01,
       1.20000000e+01, 2.79999999e+01, 1.65975671e-08, 2.19999999e+01,
       1.19999999e+01, 1.98898424e-09])

In [38]:
print(pd.DataFrame(np.array(list(map(round, res.x))).reshape(2, 5), index=Plants, columns=Customer))
print(res.fun)

           Amsterdam  Berda  Gouda  Amesfoort  Den Bosch
Haarlem            0     16      0         19         12
Eindhoven         28      0     22         12          0