In [38]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
import sys
import numpy as np

user_input = input()
# print ("Hello Goorm! Your input is " + user_input)

arr = []
for i in range(0, int(user_input)):
	input = sys.stdin.readline()
	arr.append(input.split(' ~ '))
	
# print(arr)

# print(max(list(np.array(arr)[:,0])), '~', min(list(np.array(arr)[:,1])))

3
['', '', '']

In [231]:
import math


input = "1111"

arr = input.split('0')

def check(oneCnt):
    startN = int(oneCnt/2)
    sum = 0
    for n in range(startN, -1, -1):
        m = oneCnt - 2*n
        sum += (math.factorial(m+n) / math.factorial(m) / math.factorial(n))
    return int(sum)

s = 0
for a in arr:
    if a.count("1") > 1:
        s += check(a.count("1")-1)
print(s)

# 1:m개, 2:n개

3

In [174]:
import numpy as np

input_ = np.array([[1, 1, 1, 0], [1, 1, 1, 0], [0, 1, 1, 0], [0, 0, 0, 0]])
# filter_ = np.array([[1, 1], [1, 1]])

# print(input_)
# print(filter_)

from scipy import ndimage
ndimage.convolve(input_, filter_, mode='constant', cval = 0.0).tolist()

sol = {}
for i in range(1, 5):
    filter_ = np.ones((i, i)).tolist()
    s = 0
    for a in ndimage.convolve(input_, filter_, mode='constant', cval = 0.0).tolist():
        s += a.count(i*i)
    sol[i] = s
print(sol)

print(sum(sol.values()))

for s in sol:
    if sol[s] == 0:
        break
    print("size[{0}]: {1}".format(s, sol[s]))

{1: 8, 2: 3, 3: 0, 4: 0}
11
size[1]: 8
size[2]: 3

In [125]:
list(map(int, list("1111")))

[1, 1, 1, 1]

In [138]:
np.ones((2, 2)).tolist()

[[1.0, 1.0], [1.0, 1.0]]

In [230]:
# 4.0 3.0 2.1 4.3 5.0
# 2 3
import pandas as pd

p = [['W', 0], ['O', 1], ['Y', 2]]
df_priority = pd.DataFrame(p, columns=['a', 'priority'])

score = "4.0 3.0 2.1 4.3 5.0"

contents = ["A", "B", "C", "D", "E"]
conzip = list(zip(contents, map(float, score.split(' '))))
df_con = pd.DataFrame(conzip, columns=["b", "score"])
# print(df_con)
log = "WYO\nYYO\nABC\nDCE"

a = ['WYO', 'YYO']
b = ['ABC', 'DCE']

l = []
for i in range(0, len(a)):
    for j in range(0, len(a[0])):
        if a[i][j] != 'W':
#             dic[i,j] = a[i][j] + b[i][j]
            l.append([i, j, a[i][j], b[i][j]])

df = pd.DataFrame(l, columns=["x", "y", "a", "b"])
df = pd.merge(df, df_priority, on='a')
df = pd.merge(df, df_con, on='b')
# print(df)
# df['rank'] = df.groupby('a')['a', 'score'].rank(ascending=[False, False]).astype(int)
df = df.sort_values(by=['priority', 'score', 'y'], ascending=[False, False,True]).reset_index()

print(df)
for i in df.index:
    print(df.iloc[i]['b'], df.iloc[i]['score'], df.iloc[i]['x'], df.iloc[i]['y'])

   index  x  y  a  b  priority  score
0      1  1  0  Y  D         2    4.3
1      0  0  1  Y  B         2    3.0
2      2  1  1  Y  C         2    2.1
3      4  1  2  O  E         1    5.0
4      3  0  2  O  C         1    2.1
D 4.3 1 0
B 3.0 0 1
C 2.1 1 1
E 5.0 1 2
C 2.1 0 2

In [31]:
# 7 00:05:48
# 02:14
# 03:34
# 02:34
# 03:45
# 05:43
# 01:34
# 02:33
user_input = ["02:14",
"03:34",
"02:34",
"03:45",
"05:43",
"01:34",
"02:33"]

def convertTime(t):
    time = t.split(':')
    
    return int(time[0])*60 + int(time[1])

user_inputs = list(map(convertTime, user_input))

print(user_inputs)

[134, 214, 154, 225, 343, 94, 153]

In [111]:

startIdx = 0
maxCnt = 1
base = convertTime("05:48")
for i in range(0, len(user_inputs)):
    for j in range(maxCnt, len(user_inputs)+1):
        if i+j > len(user_inputs):
#             print('Index 초과')
            break
        else:          
#             print(i, j, user_inputs[i:i+j])
            if sum(user_inputs[i:i+j]) < base:                
                if sum(user_inputs[i:i+j+1]) > base and j > maxCnt:
                    print(i, j, user_inputs[i:i+j+1])
                    startIdx = i
                    maxCnt = j
            else:
                break
    
print(maxCnt+1, startIdx+1)

2 1

In [209]:
inputArr = [['seoul', 'beijing', '3'], ['beijing', 'hawaii', '10'], ['seoul', 'tokyo', '4'], ['seoul', 'hawaii', '6'], ['tokyo', 'hawaii', '5'], ['beijing', 'tokyo', '5']]
inputArrCopy = inputArr.copy()
for a in inputArr:
    inputArrCopy.append([a[1], a[0], a[2]])

[['seoul', 'beijing', '3'], ['beijing', 'hawaii', '10'], ['seoul', 'tokyo', '4'], ['seoul', 'hawaii', '6'], ['tokyo', 'hawaii', '5'], ['beijing', 'tokyo', '5'], ['beijing', 'seoul', '3'], ['hawaii', 'beijing', '10'], ['tokyo', 'seoul', '4'], ['hawaii', 'seoul', '6'], ['hawaii', 'tokyo', '5'], ['tokyo', 'beijing', '5']]

In [204]:
import numpy as np

for a in inputArr:
    print(a)
# print(s)
# print(d)
# print(distance)
# print(set(s + d))
import pandas as pd
df = pd.DataFrame(inputArrCopy, columns=["s", "d", "distance"])
df["distance"] = df["distance"].apply(int)
df = df.sort_values("distance", ascending=True)

['seoul', 'beijing', '3']
['beijing', 'hawaii', '10']
['seoul', 'tokyo', '4']
['seoul', 'hawaii', '6']
['tokyo', 'hawaii', '5']
['beijing', 'tokyo', '5']

          s        d  distance
0     seoul  beijing         3
6   beijing    seoul         3
2     seoul    tokyo         4
8     tokyo    seoul         4
4     tokyo   hawaii         5
5   beijing    tokyo         5
10   hawaii    tokyo         5
11    tokyo  beijing         5
3     seoul   hawaii         6
9    hawaii    seoul         6
1   beijing   hawaii        10
7    hawaii  beijing        10

In [176]:
citis = set(s+d)
print(citis)

{'hawaii', 'beijing', 'seoul', 'tokyo'}

In [208]:
tmpSet = set()
for citi1 in citis:
    for city2 in citis:
        if citi1 != city2:
            print(citi1, city2)

hawaii beijing
hawaii seoul
hawaii tokyo
beijing hawaii
beijing seoul
beijing tokyo
seoul hawaii
seoul beijing
seoul tokyo
tokyo hawaii
tokyo beijing
tokyo seoul

In [211]:
from itertools import permutations

list(permutations(citis, 4))

[('hawaii', 'beijing', 'seoul', 'tokyo'),
 ('hawaii', 'beijing', 'tokyo', 'seoul'),
 ('hawaii', 'seoul', 'beijing', 'tokyo'),
 ('hawaii', 'seoul', 'tokyo', 'beijing'),
 ('hawaii', 'tokyo', 'beijing', 'seoul'),
 ('hawaii', 'tokyo', 'seoul', 'beijing'),
 ('beijing', 'hawaii', 'seoul', 'tokyo'),
 ('beijing', 'hawaii', 'tokyo', 'seoul'),
 ('beijing', 'seoul', 'hawaii', 'tokyo'),
 ('beijing', 'seoul', 'tokyo', 'hawaii'),
 ('beijing', 'tokyo', 'hawaii', 'seoul'),
 ('beijing', 'tokyo', 'seoul', 'hawaii'),
 ('seoul', 'hawaii', 'beijing', 'tokyo'),
 ('seoul', 'hawaii', 'tokyo', 'beijing'),
 ('seoul', 'beijing', 'hawaii', 'tokyo'),
 ('seoul', 'beijing', 'tokyo', 'hawaii'),
 ('seoul', 'tokyo', 'hawaii', 'beijing'),
 ('seoul', 'tokyo', 'beijing', 'hawaii'),
 ('tokyo', 'hawaii', 'beijing', 'seoul'),
 ('tokyo', 'hawaii', 'seoul', 'beijing'),
 ('tokyo', 'beijing', 'hawaii', 'seoul'),
 ('tokyo', 'beijing', 'seoul', 'hawaii'),
 ('tokyo', 'seoul', 'hawaii', 'beijing'),
 ('tokyo', 'seoul', 'beijing', 'hawaii')]

In [279]:
inArr = ["6 4",
"6 5",
"4 1",
"4 2",
"4 3"]

dic = {}
for a in inArr:
    splitStr = a.split()
    if splitStr[0] in dic.keys():
        dic[splitStr[0]].append(splitStr[1][0])
    else:
        dic[splitStr[0]] = list(splitStr[1])

print(dic)

{'6': ['4', '5'], '4': ['1', '2', '3']}

{1: [1, 2]}

In [317]:
def check(u, d):
    result = "no"
    if u in dic.keys() and d in dic[u]:
        result = "yes"
        return result
    else:
        print([k for k, v in dic.items() if d in v])
        for a in [k for k, v in dic.items() if d in v]:
            if check(u, a) == "yes":
                break
    print('Not Find')
    return result

In [318]:
check("6", "3")

['4']
Not Find

'no'